*{
    margin: 0;
    padding: 0;
}

.chat-container{
    max-height: 640px;
    min-height: 100vh;
    display:flex;
    justify-content:left;
    align-items: center;
    background-color: lightgray;
}