@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');

/* .form-main-container{
    height: 70vh;
} */


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* background-color: aqua; */
}

.form-container input{
    font-size: large;
    width:100%;
    height: 5%;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    text-align: baseline;
    margin-bottom: 26px;
}


.form-container button{
    margin-top: 26px;
    background-color: #5ea3c9;
    color: white;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

#account{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.refer{
    margin-top: 8px;
}
.refer a{
    color:rgb(100, 99, 99);
    text-decoration: none;
}

.link a{
    text-decoration: none;
    color: #74A8C5;
}

.form-submit:hover{
    background-color: #4495c0;
}
.refer:hover a , .link:hover a{
    text-decoration: underline;
    color: blue;
}
