*{
    margin: 0;
    padding: 0;   
}

.messanger-main-container{
    min-height: 630px;
    max-height: 98vh;
    min-width: 22vw;
    background-color: white;
    border-radius: 15px;
    /* margin-left: 15px; */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.messanger-container{
    overflow-x: hidden;
    /* overflow-y: scroll; */
}
.messanger-heading {
    text-align: left;
    background-color: #5ea3c9;
    color: white;
    font-weight: 500;
    padding:15px;
    height: 40px;
    display: flex;
    align-items: center;

}