.message-box{
    background-color: gainsboro;
    width: max-content;
    /* width: 100px; */
    height: auto;
    display: inline-block;
    border-radius: 0.5vmax;
    max-width: 40%;
    padding: 1vmax;
    margin: 1.5vmax;
    overflow-y: auto;
    /* overflow-x: auto; */
    overflow-wrap: break-word;
    clear: both;
}


.right{
    float: right;
    background-color: lightgreen;
    color: black;
}
.left{
    float: left;
    background-color: white;
    color: black;
}