@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.nav-main-container{
    overflow: hidden;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 12;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.nav-main-container .nav-first-container ul{
    height: 100px;
    width:max-content;
    color: #74A8C5;
    display: flex;
    align-items: center;
    font-size: larger;
    list-style: none;
    margin-left: 1.5rem;
    cursor: pointer;
}

#Logo{
    margin-left: 0rem;
    /* padding-left: 1.5rem; */
    color: #015B8E;
    font-size: 35px;
    font-weight:900;
}

.nav-first-container ul li{
    margin-right: 1.2rem;
}

.nav-search{
    width: 400px;
    height: 35px;
    display: flex;
    justify-content:left;
    align-items: center;
    border: 1px solid #015B8E;
    border-radius:10px;
}

.nav-search img{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    height:22px;
    padding:0px 4px;
}

.nav-search input{
    display: flex;
    border-radius:10px;
    justify-content: center;
    align-items: center;
    width: 91.2%;
    height: 90%;
    border: none;
    outline: none;
    padding-left: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.nav-button ul{
    /* width: 300px; */
    margin-left: 0;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
}

.nav-signup button{
    width: 100px;
    height: 35px;
    color: #015B8E;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    outline: none;
    background:linear-gradient(131deg, #BBC2FF 34.90%, #52BCE9 100%);
}

.nav-signup button:hover{
    cursor: pointer;
}

@media screen and (min-width:768px) and (max-width:1024px){
    .nav-first-container ul li{
        margin-right: 1.5vw;
    }
    .nav-signup button{
        border-radius: 10px;
    }
    .nav-search{
        width: 300px;
    }
}

@media screen and (min-width:1025px) and (max-width:1300px){
    .nav-first-container ul li{
        margin-right: 1vw;
    }
    .nav-signup{
        margin-right: 0vw;
    
    }
    .nav-signup button{
        border-radius: 10px;
    }
}