  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

.nav-main-container{
    /* overflow-y: auto; */
    position: relative;
    /* overflow: hidden; */
    /* min-width: 100vw;
    max-width: 100vw; */
    position: sticky;
    top: 0;
    z-index: 12;
    background-color: white;
    height: 70px;
    min-height: 80px;
    font-family: 'Poppins', sans-serif;
}

.nav-main-container .nav-first-container ul{

    color: #74A8C5;
    display: flex;
    align-items: center;
    font-size: larger;
    list-style: none;
    margin-left: 20px;
    cursor: pointer;
}

#Logo{
    margin-right: 25px;
    /* padding-left: 1.5rem; */
    color: #015B8E;
    font-size: 35px;
    font-weight:900;
}

.nav-first-container ul li{
    margin-right: 14px;
}
.nav-first-container a{
    color: #74A8C5;
    text-decoration: none;
}

.nav-search{
    width: 430px;
    height: 35px;
    display: flex;
    justify-content:left;
    align-items: center;
    border: 1px solid #015B8E;
    border-radius:10px;
}

.nav-search img{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    height:22px;
    padding:0px 4px;
}

.nav-search input{
    display: flex;
    border-radius:10px;
    justify-content: center;
    align-items: center;
    width: 91.2%;
    height: 90%;
    border: none;
    outline: none;
    padding-left: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.nav-button ul{
    /* width: 300px; */
    margin-left: 0;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
}

.nav-signup button{
    width: 100px;
    height: 35px;
    color: #015B8E;
    font-weight: bold;
    font-size: 17px;
    border-radius: 12px;
    border: none;
    outline: none;
    background:linear-gradient(131deg, #BBC2FF 34.90%, #52BCE9 100%);
}

.nav-signup button:hover{
    cursor: pointer;
}

.search-modal{
    width: fit-content;
    position:absolute;
    /* left: 18.5%; */
    /* top:61%; */
    transform: translate(320px,-10px);
    z-index:1000;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 15px;

    background-color: rgb(241, 244, 245);
}

.nav-first-container ul li{
    margin-right: 1.5vw;
    font-size: 22px;
}

.your-account{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    /* width: 190px;
    height: 35px; */
    width:auto;
    color: #015B8E;
    font-weight: bold;
    font-size: 17px;
    /* border-radius: 12px; */
    /* border: none;
    outline: none; */
    /* background:linear-gradient(131deg, #BBC2FF 34.90%, #52BCE9 100%); */
}
/* .your-account button{
    width: 100px;
    height: 35px;
    color: #015B8E;
    font-weight: bold;
    font-size: 17px;
    border-radius: 12px;
    border: none;
    outline: none;
    background:linear-gradient(131deg, #BBC2FF 34.90%, #52BCE9 100%);
} */

#options{
    display: none;
}

/* @media screen and (min-width:768px) and (max-width:991px){
    .nav-first-container ul li{
        margin-right: 1vw;
        font-size: small;
    }
    .nav-signup button{
        border-radius: 10px;
    }
    .nav-search{
        width:100%;
    }
} */

@media (min-width: 992px) and (max-width: 1199.98px){
    .nav-first-container ul li{
        margin-right: 0.8vw;
        font-size: medium;
    }
    .nav-signup button{
        font-size: medium;
        border-radius: 10px;
    }
    .nav-search{
        width: 300px;
    }
    #Logo{
        font-size: 25px;
    }
}

@media  screen and (min-width: 1200px) and (max-width: 1300px){
    .nav-first-container ul li{
        margin-right: 1.2vw;
        font-size: large;
    }
    #Logo{
        font-size: 28px;
    }
}

@media screen and (max-width:992px){
    .nav-first-container ul li{
        margin-right:10px;
    }
    #options{
        display: block;
        font-size: large;
    }
    #Logo{
        font-size: 20px;
    }
    #nav-logo{
        width: 50px;
    }
    .nav-list{
        display: none;
    }
    .nav-search{
        width: 35vw;
        /* margin-left: 20px; */
    }
    .nav-search input{
        font-size: medium;
    }
    .nav-search img{
        height: 18px;
    }
    .nav-signup button{
        width: 80px;
        font-size: medium;

    }
    .your-account{
        font-size: 18px;
    }
    .nav-main-container .nav-first-container ul{
        margin-left: 14px;
    }
}


@media screen and (max-width:850px){
    #Logo{
        display: none;
    }
    .nav-first-container ul li{
        margin-right:8px;
    }
    #nav-logo{
        margin-right: 10px;
    }
    .nav-signup button{
        width: 70px;
        font-size: medium;
    }
    .your-account{
        font-size: 18px;
    }
}
@media screen and (max-width:602px){
    .nav-signup{
        display: none;
    }
    .nav-search{
        width: 50vw;
        margin-left: 15px;
    }
    .your-account{
        display: none;
    }
    #nav-logo{
        width: 45px;
    }
    #options{
        font-size: 20px;
    }
}

@media screen and (max-width:360px){
    #options{
        font-size: 18px;
    }

    .nav-search{
        width: 40vw;
        margin-left: 10px;
    }
     .nav-main-container .nav-first-container ul{
        margin-left: 3px;
    }
}