@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

.post-main-container {
    display:flex;
    justify-content: space-around;
    width: 1350px;
    /* max-width: 100vw;
    min-width: 100vw; */
    max-height: 80vh;
    min-height: 80vh;
    overflow-y: hidden;
    /* margin-top: 20px; */
    overflow-x: hidden;

}

.post-submain-container{
    display: flex;
    flex-direction: column;
    width: 67%;
    /* max-width: 67%;
    min-width: 67%; */

}

.post-first-container {
    /* max-height: 100%;
    min-height: 100%; */
    height: 100%;
    /* display: flex;
    justify-content: space-evenly; */

    /* align-items: center; */
    /* flex-direction: row; */
    overflow-x: hidden;
    overflow-y: auto;
}

.post-subfirst-container {
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.post-subsubfirst-container ul {
    /* width: calc(70vw-280px); */
    color: #015B8E;
    display: flex;
    justify-content: left;
    /* align-items: center; */
    flex-direction: column;
    font-size: 20px;
    list-style: none;
    
}

.post-subsubsecond-container img {
    object-fit: contain;
    width: 40px;
    margin-left: 0px;
}

.createpost-subsubsecond-container {
    display: flex;
    align-items: center;
}

#post-heading {
    font-size: 61px;
}

.post-subsubsecond-container {
    width: 260px;
    height: auto;
    
}

.post-subsubsecond-container ul {
    color: #015B8E;
    display: flex;
    padding: 9px;
    padding-left: 20px;
    /* justify-content:center; */
    align-items:flex-start;
    border: 2px solid lightgray;
    flex-direction: column;
    font-size: 17px;
    border-radius: 20px;
    list-style: none;
}

#createpost-heading {
    font-size: 18px;
    font-weight: 600;
    /* color: #015B8E; */
    background: #B278FF;
    background: -webkit-linear-gradient(to right, #B278FF 34%, #E900D9 100%);
    background: -moz-linear-gradient(to right, #B278FF 34%, #E900D9 100%);
    background: linear-gradient(to right, #B278FF 34%, #E900D9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post-second-container {
    /* overflow: hidden; */
    border: 1px solid lightgrey;
    /* position:fixed; */
    /* right: 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    padding: 5px;
    height: 100%;
    /* min-height: 83vh;
    max-height: 83vh; */
    /* margin-right: 10px; */
    width: 430px;
    /* max-width: 30vw;
    min-width: 30vw; */
    /* min-height: 83vh;
    max-height: 83vh; */
    overflow-y: auto;
    /* background-color: blue; */
}

.post-secondmain-container{
    /* min-height:53vh;
    max-height:53vh; */
    /* border: 2px solid brown; */
    /* width: 100%; */

    display: flex;
    justify-content: center;
    /* align-items:center ; */
}

.post-main-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .post-main-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* .createpost-first-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
} */

.createpost-second-container ul{
    /* width: 30vw; */
    /* height: 100%; */
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;

    /* margin-top: 15px; */
    

}

#create-post{
    font-size: 30px;
    font-weight: 600;
    background: -webkit-linear-gradient(to right, #B278FF 34%, #E900D9 100%);
    background: -moz-linear-gradient(to right, #B278FF 34%, #E900D9 100%);
    background: linear-gradient(to right, #B278FF 34%, #E900D9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
    margin-top: 8px;
}

.cp{
    /* padding: px; */
    padding-left: 3px;
    margin-bottom: 15px;
    width: 360px;
    height: 30px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}


#description{
    padding: 3px;
    font-size: 15px;
    height: 130px;
    width: 360px;
    /* max-width: 26vw;
    min-width: 26vw; */
    resize: none;
}


.cp-button button{
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    /* padding-bottom: 10px; */
    margin-bottom: 8px;
    /* margin-top: 8px; */
    background:linear-gradient(131deg, #BBC2FF 34.90%, #52BCE9 100%);
    color: #015B8E;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}