*{
  margin:0;
  padding:0;
}

.modal{
  display:flex;
  z-index:1000;
  /* left:229px;
  top: 62px; */
  /* max-width:370px;
  min-width:25vw; */
  width: 370px;
  /* height: 500px; */
}

.modal-main-container{

  padding: 5px;

  font-size: 20px;
  /* color:#015B8E; */
  color:#00466e;
  overflow-y: auto;
  
}

.modal-first-container{
  overflow-x: hidden;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 56px;
  /* padding-left: 10px; */
  cursor: pointer;

}

.profile-img{
  background-color: gray;
  width:50px;
  border-radius: 50%;
}

.modal-username{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#search-username{
  font-size: medium;
}

.profile-image{
  margin-right: 10px;
  background-color: lightgray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
