.Useritem-main-container{
    max-height: 210px;
    padding: 20px;
    margin-top: 20px;
    width: 1100px;
    /* max-width: 60vw;
    min-width: 60vw; */
    border: 1px solid lightgrey;
    /* border-right: none; */
}